{% extends "base.html" %}
{% block content %}
<h1 class='text-center text-primary'>
    About Borno State Scholarship Board
</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea explicabo atque rerum vitae in repellat doloremque fugit nulla impedit repellendus non sapiente recusandae distinctio ad aliquid, quisquam modi a?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, iusto, iste iure illum tenetur deleniti odit vel distinctio non rem reiciendis delectus, quidem ad adipisci maiores fugiat beatae possimus in!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero et nobis officiis repellat in recusandae earum, dignissimos facilis eveniet, neque dolorum, ipsam possimus vitae itaque quae veritatis dolore blanditiis adipisci.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sed sequi suscipit, nulla cupiditate, amet modi ex sapiente inventore repudiandae asperiores facere, iusto molestias dolores ullam quasi saepe tempora perferendis?</p>
{% endblock content %}