{% for article in data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ article.headline }}</td>
    <td>{{ article.publish_on|date:'d/m/Y P' }}</td>
    <td>{{ article.updated_on|date:'d/m/Y P' }}</td>
    <td>
        <div class="btn-group" hx-target="#dialog">
            <a href="{{ article.url }}" class="btn btn-primary">
                <i class="bi bi-eye"></i>
            </a>

            <a href="{{ article.update_url }}" hx-get="{{ article.update_url }}" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
            </a>

            <a href="{{ article.delete_url }}" hx-get="{{ article.delete_url }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="5" class="text-center text-muted">
        There is no available article yet
    </td>
</tr>
{% endfor %}