<footer class="text-light bg-success container-fluid py-4 mt-5">
    <div class="row align-items-center p-4">
        <h2 class="text-center">Borno State Scholarship Board</h2>

        <div class="col-sm">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.9388789313325!2d13.146395048528158!3d11.8383418960876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x11049fab8e75f857%3A0x8610833ec37d7458!2sBorno%20State%20Scholarships%20Board%20P.M.B!5e0!3m2!1sen!2sng!4v1726000063979!5m2!1sen!2sng"
                class="d-block w-100 h-auto" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>

        <div class="col-sm">
            <p>
                <i class="fa fa-envelope"></i>
                <span class="fw-bold">
                    Email Address:
                </span>
                support@bssb.com
            </p>

            <p>
                <i class="fa fa-phone"></i>
                <span class="fw-bold">
                    Phone Number:
                </span>
                +234 801 2345 678
            </p>

            <p>
                <i class="fa fa-map-marker"></i>
                <span class="fw-bold">
                    Address:
                </span>
                Jos Road, Maiduguri 600282, Borno
            </p>
        </div>
    </div>

    <hr>

    <section class="text-center">
        <!-- Facebook -->
        <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fa fa-facebook-f"></i>
        </a>

        <!-- Twitter -->
        <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fa fa-twitter"></i>
        </a>

        <!-- Google -->
        <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fa fa-google"></i>
        </a>

        <!-- Instagram -->
        <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fa fa-instagram"></i>
        </a>

        <!-- Whatsapp -->
        <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fa fa-whatsapp"></i>
        </a>
    </section>

    <!-- Copyright -->
    <div class="text-center p-3">
        &copy; 2023 - 2024 Copyright:
        <a class="text-white" href="/">Borno State Scholarship Board</a>
    </div>

</footer>