<footer class="text-light bg-success container-fluid py-4 mt-5">
    <h2 class="text-center">Borno State Scholarship Board</h2>

    <div class="row px-md-5">
        <div class="col-md-7 order-md-2 ps-md-2">
            <div class="d-flex">
                <i class="bi bi-envelope h1"></i>

                <p class="flex-grow-1 ms-2">
                    <b>Email Address</b> <br>
                    <a href="mailto:support@bssb.bo.gov.ng" class="nav-link">support@bssb.bo.gov.ng</a>
                </p>
            </div>

            <div class="d-flex">
                <i class="bi bi-telephone h1"></i>

                <p class="flex-grow-1 ms-2">
                    <b>Telephone</b> <br>
                    <a href="tel:+23480 1234 5678" class="nav-link">(+234)80 1234 5678</a>
                </p>
            </div>

            <div class="d-flex">
                <i class="bi bi-geo-alt h1"></i>

                <p class="flex-grow-1 ms-2">
                    <b>Address</b> <br>
                    Jos Road, Maiduguri 600282, Borno
                </p>
            </div>
        </div>

        <div class="col-md-5 order-md-1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.9388789313325!2d13.146395048528158!3d11.8383418960876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x11049fab8e75f857%3A0x8610833ec37d7458!2sBorno%20State%20Scholarships%20Board%20P.M.B!5e0!3m2!1sen!2sng!4v1726000063979!5m2!1sen!2sng"
                class="d-block w-100 h-auto" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>

            <section class="text-center">
                <!-- Facebook -->
                <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-facebook"></i>
                </a>
        
                <!-- Twitter -->
                <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-twitter"></i>
                </a>
        
                <!-- Google -->
                <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-google"></i>
                </a>
        
                <!-- Instagram -->
                <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-instagram"></i>
                </a>
        
                <!-- Whatsapp -->
                <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </section>
        </div>
    </div>

    <hr>

    <!-- Copyright -->
    <div class="text-center p-3">
        &copy; 2023 - 2024 Copyright:
        <a class="text-white" href="/">Borno State Scholarship Board</a>
    </div>

</footer>