<ul class="sidebar-nav p-0">
    <!-- Board -->
    <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
            data-bs-target="#board" aria-expanded="true" aria-controls="board">
            <span>
                <i class="bi bi-gear"></i> Board
            </span>
        </a>
        <ul id="board" class="sidebar-dropdown list-unstyled collapse ms-3" data-bs-parent="#sidebar">
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'board:index' %}"><i class="bi bi-link"></i> Board</a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'board:reg-documents' %}"><i class="bi bi-link"></i> Reg documents</a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'board:banks' %}"><i class="bi bi-link"></i> Banks</a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'board:accounts' %}"><i class="bi bi-link"></i> Accounts</a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'board:lgas' %}"><i class="bi bi-link"></i> LGAs</a>
            </li>
        </ul>
    </li>

    <!-- Media -->
    <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
            data-bs-target="#media" aria-expanded="true" aria-controls="board">
            <span>
                <i class="bi bi-chat-quote"></i> Media
            </span>
        </a>

        <ul id="media" class="sidebar-dropdown list-unstyled collapse ms-3" data-bs-parent="#sidebar">
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'main:articles' %}"><i class="bi bi-link"></i> Articles</a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'main:contacts' %}"><i class="bi bi-link"></i> Contacts</a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'main:notifications' %}"><i class="bi bi-link"></i> Notifications</a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'main:faqs' %}"><i class="bi bi-link"></i> FAQs</a>
            </li>
        </ul>
    </li>
    
    <!-- Academic -->
    <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
            data-bs-target="#academic" aria-expanded="true" aria-controls="academic">
            <span>
                <i class="bi bi-mortarboard"></i> Academic
            </span>
        </a>
        <ul id="academic" class="sidebar-dropdown list-unstyled collapse ms-3" data-bs-parent="#sidebar">
            <li class="sidebar-item">
                <a href="{% url 'academic:programs' %}" class="sidebar-link"><i class="bi bi-link"></i> Programs</a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'academic:field-of-studies' %}" class="sidebar-link"><i class="bi bi-link"></i> Field of studies</a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'academic:levels' %}" class="sidebar-link"><i class="bi bi-link"></i> Levels</a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'academic:courses' %}" class="sidebar-link"><i class="bi bi-link"></i> Courses</a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'academic:institution-types' %}" class="sidebar-link"><i class="bi bi-link"></i> Institution Types</a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'academic:institutions' %}" class="sidebar-link"><i class="bi bi-link"></i> Institutions</a>
            </li>
        </ul>
    </li>

    <!-- Users -->
    <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
            data-bs-target="#users" aria-expanded="true" aria-controls="users">
            <span>
                <i class="bi bi-people"></i> Users
            </span>
        </a>
        <ul id="users" class="sidebar-dropdown list-unstyled collapse ms-3" data-bs-parent="#sidebar">
            <li class="sidebar-item">
                <a href="{% url 'official:index' %}" class="sidebar-link"><i class="bi bi-link"></i> Officials</a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'official:applicants' %}" class="sidebar-link"><i class="bi bi-link"></i> Applicants</a>
            </li>
        </ul>
    </li>

    <!-- Scholarships -->
    <li class="sidebar-item">
        <a href="{% url 'scholarship:index' %}" class="sidebar-link"><i class="bi bi-award"></i> Scholarships</a>
    </li>

    <!-- Support -->
    <li class="sidebar-item">
        <a href="{% url 'support:index' %}" class="sidebar-link"><i class="bi bi-headphones"></i> Support</a>
    </li>

    <!-- Payments -->
    <li class="sidebar-item">
        <a href="{% url 'payment:index' %}" class="sidebar-link"><i class="bi bi-cash"></i> Payments</a>
    </li>
</ul>