<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#personal">
            <i class="fa fa-user"></i>
            <span class="d-none d-md-inline">
                Personal Information
            </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#academic">
            <i class="fa fa-graduation-cap"></i>
            <span class="d-none d-md-inline">
                Academic Details
            </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#account">
            <i class="fa fa-bank"></i>
            <span class="d-none d-md-inline">
                Account Details
            </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#schools">
            <i class="fa fa-graduation-cap"></i>
            <span class="d-none d-md-inline">
                School Attended
            </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#documents">
            <i class="fa fa-file"></i>
            <span class="d-none d-md-inline">
                Documents
            </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#referees">
            <i class="fa fa-users"></i>
            <span class="d-none d-md-inline">
                Referees
            </span>
        </a>
    </li>
</ul>