<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#personal">
            <i class="fa fa-user fa-lg"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#academic">
            <i class="fa fa-graduation-cap fa-lg"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#account">
            <i class="fa fa-bank" fa-lg></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#schools">
            <i class="fa fa-home fa-lg"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#documents">
            <i class="fa fa-file fa-lg"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#referees">
            <i class="fa fa-users fa-lg"></i>
        </a>
    </li>
</ul>