{% for course_type in data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ course_type.title }}</td>
    <td>
        <div class="btn-group" hx-target="#dialog">
            <a href="{{ course_type.update_url }}" hx-get="{{ course_type.update_url }}" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
            </a>

            <a href="{{ course_type.delete_url }}" hx-get="{{ course_type.delete_url }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3" class="text-center text-muted">
        There is no available course type
    </td>
</tr>
{% endfor %}