{% for field_of_study in data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ field_of_study.name }}</td>
    <td>{{ field_of_study.program }}</td>
    <td>
        <div class="btn-group" hx-target="#dialog">
            <a href="{{ field_of_study.update_url }}" hx-get="{{ field_of_study.update_url }}" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
            </a>

            <a href="{{ field_of_study.delete_url }}" hx-get="{{ field_of_study.delete_url }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center text-muted">
        There is no available field of study
    </td>
</tr>
{% endfor %}