{% for i in data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i }}</td>
    <td>{{ i.institution_type }}</td>
    <td>
        <div class="btn-group" hx-target="#dialog">
            <a href="{{ i.update_url }}" hx-get="{{ i.update_url }}" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
            </a>

            <a href="{{ i.delete_url }}" hx-get="{{ i.delete_url }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center text-muted">
        There is no available institution.
    </td>
</tr>
{% endfor %}