{% for application in data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>
        <a href="{{ application.url }}" class="btn btn-text">
            {{ application.applicant.email }} <i class="bi bi-eye"></i>
        </a>
    </td>

    <td>
        {{ application.account_bank }} <br>
        {{ application.account_name }} <br>
        {{ application.account_number }}
    </td>

    <td>
        <span class="amount">
            {{ application.scholarship.disbursement_amount|floatformat:2 }}
        </span>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center text-muted">
        No disbursement details found
    </td>
</tr>
{% endfor %}