{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center text-success">
        {{ scholarship.title }}
        <a href="{% url 'scholarship:update' id=scholarship.id %}" class="btn btn-text">
            <i class="bi bi-pencil"></i>
        </a>
    </h2>
    <p>{{ scholarship.description }}</p>

    <h3>Criteria:</h3>
    <ul>
    {% for criterion in scholarship.criteria %}
        <li>{{ criterion }}</li>
    {% endfor %}
    </ul>

    {% include 'layouts/table.html' with title='Application Documents' table_headers=table_headers %}

    <div class="text-end">
        <div class="btn-group">
            <a href="{% url 'scholarship:scholarship-applications' id=scholarship.id %}" class="btn btn-outline-primary">
                Applications <i class="bi bi-files"></i>
            </a>
    
            <a href="{% url 'scholarship:scholarship-disbursement' id=scholarship.id %}" class="btn btn-outline-primary">
                Disbursement <i class="amount"></i>
            </a>
        </div>
    </div>
{% endblock %}