{% extends 'base.html' %}

{% block content %}
    <div class="row my-5">
        {% if filter_form %}
        <div class="col-md-3 order-md-2 mt-md-5">
            <h3>Filter {{ title }}</h3>

            <form hx-target="#data" hx-trigger="submit, change" hx-get="{{ request.path }}">
                {% load crispy_forms_tags %}
                {% crispy filter_form %}
            </form>
        </div>
        {% endif %}

        <div class="col-md order-md-1">
            {% include "layouts/table.html" %}
        </div>
    </div>
{% endblock %}