{% for bank in data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ bank.name }}</td>
    <td>{{ bank.code }}</td>
    <td>
        <div class="btn-group" hx-target="#dialog">
            <a href="{{ bank.update_url }}" hx-get="{{ bank.update_url }}" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
            </a>

            <a href="{{ bank.delete_url }}" hx-get="{{ bank.delete_url }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center text-muted">
        There is no available bank
    </td>
</tr>
{% endfor %}