{% extends 'base.html' %}

{% block content %}
<form method="post" class="card mt-5 mx-a">
    {% csrf_token %}
    {% load crispy_forms_tags %}

    <div class="card-header">
        <h3 class="card-title text-center text-secondary">BSSB Forgot password</h3>
    </div>

    <div class="card-body">
        {% crispy form %}

        <p>
            Remember your password? 
            <a href="{% url 'user:login' %}">Login</a>
        </p>

        <p>
            You don't have an account? 
            <a href="{% url 'user:login' %}">register</a>
        </p>
    </div>
</form>
{% endblock content %}