{% extends 'base.html' %}

{% block content %}
<div class="card mt-5 mx-auto" style="max-width: 500px;">
    {% csrf_token %}
    {% load crispy_forms_tags %}

    <div class="card-header">
        <h3 class="card-title text-center text-secondary">Recover your account</h3>
    </div>

    <div class="card-body">
        {% crispy form %}
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col">
                <div class="d-grid">
                    <a class="btn btn-primary" href="{% url 'user:login' %}">Login</a>
                </div>    
            </div>

            <div class="col">
                <div class="d-grid">
                    <a class="btn btn-success" href="{% url 'user:register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}