{% extends 'base.html' %}
{% block title %}BSSB Login{% endblock title %}

{% block content %}
<form method="post" class="card mt-5 mx-a">
    {% csrf_token %}
    {% load crispy_forms_tags %}

    <div class="card-header">
        <h3 class="card-title text-center text-secondary">Borno State Scholarship Board</h3>
    </div>

    <div class="card-body">
        {% crispy form %}

        <div class="text-end">
            <a href="{% url 'user:forgot-password' %}">
                Forgot password?
            </a>
            
            <hr>

            <a href="{% url 'user:register' %}" class="btn btn-success">
                Create new account
            </a>

            <button class="btn btn-primary">
                Login <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    </div>
</form>
{% endblock content %}