{% extends 'base.html' %}

{% block admin_side %}
<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Borno State Scholarship Board Admin</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">

            </li>
            <li class="nav-item">
                <a href="{% url 'academic:institution-types' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Institution types
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'academic:institutions' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Institutions
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'academic:programs' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Programs
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'academic:course-types' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Course Types
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'academic:courses' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Courses
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'academic:levels' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Levels
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'main:articles' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Articles(News)
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'main:banks' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Banks
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'main:lgas' %}" class="btn btn-text">
                    <i class="fa fa-globe"></i> Manage Local Government Area
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Button to open the offcanvas sidebar -->
<button class="btn btn-tranferent position-fixed start-0 top-50" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#demo">
    <i class="fa fa-arrow-right"></i>
</button>
{% endblock %}
