{% extends 'base.html' %}
{% block title %}BSSB Login{% endblock title %}

{% block content %}
<form method="post" class="card mt-5 mx-a">
    {% csrf_token %}
    {% load widget_tweaks %}

    <div class="card-header">
        <h3 class="card-title text-center text-secondary">Borno State Scholarship Board</h3>
    </div>

    <div class="card-body">
        <div class="form-group">
            <p class="text-muted">
                Create a new strong password
            </p>

            <div class="row">
                <div class="col-md">
                    <label for="{{ form.password.id_for_label }}">
                        Password:
                    </label>
        
                    <div class="input-group">
                        <label for="{{ form.password.id_for_label }}" class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </label>
                        {% render_field form.password class='form-control' placeholder="Enter your password" %}
                    </div>
                    <div class="mb-3">
                        {% for error in form.password.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md">
                    <label for="{{ form.confirm.id_for_label }}">
                        Confirm password:
                    </label>
        
                    <div class="input-group">
                        <label for="{{ form.confirm.id_for_label }}" class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </label>
                        {% render_field form.confirm class='form-control' placeholder="Confirm your password" %}
                    </div>
                    <div class="mb-3">
                        {% for error in form.confirm.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="d-grid">
            <button class="btn btn-primary">
                Recorver your password <i class="fa fa-paper-plane"></i>
            </button>
        </div>
        </div>
    </div>
</form>
{% endblock content %}