<div class="form-group col-md-6 mb-0">
    <div id="div_id_current_level" class="mb-3">
        <label for="id_current_level" class="form-label requiredField">
            Current level<span class="asteriskField">*</span>
        </label>

        <select name="current_level" class="select form-select" required="" id="id_current_level">
            <option selected disabled>Select your current level</option>

            {% for level in levels %}
            <option value="{{ level.pk }}">{{ level }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group col-md-6 mb-0">
    <div id="div_id_course_of_study" class="mb-3">
        <label for="id_field_of_study" class="form-label requiredField">
            Field of study<span class="asteriskField">*</span>
        </label>

        <select name="field_of_study" 
            class="select form-select" 
            required="" id="id_field_of_study"
            hx-get="{% url 'academic:field-of-study' %}"
            h-trigger="change"
            hx-target="#id_course_of_study">
            <option selected disabled>Select your field of study</option>

            {% for field_of_study in field_of_studies %}
            <option value="{{ field_of_study.pk }}">{{ field_of_study }}</option>
            {% endfor %}
        </select>
    </div>
</div>