<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#personal">
            <i class="bi bi-person-circle h3"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#academic">
            <i class="bi bi-mortarboard h3"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#account">
            <i class="bi bi-bank h3" fa-lg></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#schools">
            <i class="bi bi-house h3"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#documents">
            <i class="bi bi-card-heading h3"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#referees">
            <i class="bi bi-people h3"></i>
        </a>
    </li>
</ul>