{% extends 'base.html' %}


{% block content %}
{% if scholarships %}
<h2 class="text-center text-secondary">Available Scholarships</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    {% for scholarship in scholarships %}
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ scholarship }}</h3>
            </div>
    
            <div class="card-body">
                <p>{{ scholarship.description }}</p>
            </div>
    
            <div class="card-footer">
                <a href="{% url 'applicant:apply' id=scholarship.id %}" class="btn btn-primary">Apply Now</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">No available Scholarship</h1>
    </div>

    <div class="card-body">
        <p class="text-center">
            There is no open scholarship currently, please check back later for a wonderfull scholarship opportunity.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}